html {
	font-size: 62.5%;
	height: 100%;
}
body {
	padding: 0; 
  	margin:0;
  	background-color:#eff0f4;
  	font-family:STHeitiSC;
  	height: 100%;
  }
header {
	position:fixed;
	top:0;
    left:0;
    right:0;
	background-color: #5fc0cd;
	color: white;
	text-align: center;	
	height: 3.2rem;
	line-height: 3.2rem;
	overflow: hidden;
	font-weight: bold;
}
.reg a,
.close a {
	text-decoration:none;
	font-size: 1.16rem;
	color: white;
}
.reg {
	float: right;
	margin-right: 1.05rem;
}
.close {
	float: left;
	margin-left: 1.05rem;
}
.title {
	font-size: 1.31rem;
}
main {
	position: absolute;
    top: 3.2rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.text,
.password {
	padding: 0.91rem 1.56rem 0.91rem 1.56rem;
	background-color: white;
	margin: 0.62rem 0 0.62rem 0;
}
main img {
	width:0.98rem;
	height: 1.49rem;
	vertical-align: middle;
}
main input {
	width: 50%;
	margin-left: 1.64rem;
	padding: 0.36rem 0 0.36rem 1.2rem;
	vertical-align: middle;
	outline: none;
	border-right: none;
    border-top: none;
    border-bottom: none;
	border-left: 2px solid #eaedee;
	font-size: 1.16rem;
}
.login {
	border: none;
	background-color: #5fc0cd;
	color: white;
	width:100%;
	margin-top: 1.93rem;
	padding:1.24rem;
    font-size: 1.31rem;
    letter-spacing: 0.69rem;
    font-weight: bold;
}
.forget {
	float: right;
	padding: 0.69rem;
}
.forget a {
	text-decoration:none;
	color: #5fc0cd;
	font-size: 1.16rem;
}